bb_ai_listing_type.*:
  type: config_entity
  label: 'BB AI Listing type'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    description:
      type: text
      label: 'Description'

